<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/dashboard}">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard - Books</title>
</head>
<body>
<div class="main-content container-fluid" layout:fragment="content">
    <div class="d-flex justify-content-between">
        <div class="page-title">
            <h3>Books</h3>
            <p class="text-subtitle text-muted">Manage Books</p>
        </div>
        <div>
            <a href="/admin/books/create" class="btn btn-primary">Add Book <i data-feather="plus"></i></a>
        </div>
    </div>
    <section class="section">
        <div class="row mb-4">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h4 class="card-title">Books</h4>
                        <div class="d-flex ">
                            <i data-feather="download"></i>
                        </div>
                    </div>
                    <div class="card-body px-0 pb-0">
                        <div class="table-responsive">
                            <table class='table mb-0' id="table1">
                                <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Author</th>
                                    <th>Category</th>
                                    <th>Image</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="book : ${books}">
                                        <td th:text="${book.getTitle()}"></td>
                                        <td th:text="${book.getAuthor()}"></td>
                                        <td th:text="${book.getCategoryName()}"></td>
                                        <td>
                                            <img th:src="${book.getImage()}" width="50">
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <img src="/icons/more-vertical.svg">
                                                </a>

                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    <li>
                                                        <form th:action="@{/admin/book/{id}/edit(id=${book.getId()})}">
                                                            <input type="hidden" name="id" th:value="${book.getId()}">
                                                            <button class="dropdown-item" type="submit">Edit</button>
                                                        </form>
                                                    </li>
                                                    <li>
                                                        <form th:action="@{/admin/book/delete}" method="POST">
                                                            <input type="hidden" name="id" th:value="${book.getId()}">
                                                            <button class="dropdown-item text-danger" type="submit">Delete</button>
                                                        </form>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>