<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="ISO-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Nav</title>
    <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"></head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/home">
            <img src="/images/EQRAA-LOGO-2.png" width="100">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/home" th:classappend="${#httpServletRequest.getRequestURI().equals('/home')} ? 'active' : ''">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/books" th:classappend="${#httpServletRequest.getRequestURI().equals('/books')} ? 'active' : ''">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/about-us" th:classappend="${#httpServletRequest.getRequestURI().equals('/about-us')} ? 'active' : ''">About Us</a>
                </li>
            </ul>
            <div class="collapse navbar-collapse" id="navbarSupportedContent1" th:classappend="${currentUser} != null ? 'd-block' : 'd-none'">
                <ul class="navbar-nav d-flex align-items-center navbar-light ms-auto">
                    <li class="dropdown">
                        <a href="#" data-bs-toggle="dropdown"
                           class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                            <div th:class="d-flex">
                                <div class="avatar me-1">
                                    <img src="/icons/user.png" width="30" alt="" srcset="">
                                </div>
                                <div class="d-none d-md-block d-lg-inline-block" th:text="${'Hi! ' + #strings.capitalize(currentUser.getName())}"></div>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" th:href="@{/favorites}"><i data-feather="star"></i> My Favorites</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" th:href="@{/logout}"><i data-feather="log-out"></i> Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div th:classappend="${currentUser} == null ? 'd-block' : 'd-none'">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>