<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/dashboard}">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard - Statistics</title>
</head>
<body>
<div class="main-content container-fluid" layout:fragment="content" >
<div class="page-title">
    <h3>Dashboard</h3>
    <p class="text-subtitle text-muted">Statistics of EQRAA</p>
</div>
<section class="section">
    <div class="row mb-2">
        <div class="col-12 col-md-4">
            <div class="card card-statistic">
                <div class="card-body p-0">
                    <div class="d-flex flex-column">
                        <div class='px-3 py-3 d-flex justify-content-between'>
                            <h3 class='card-title'>Books</h3>
                            <div class="card-right d-flex align-items-center">
                                <img src="/icons/book.png">
                            </div>
                        </div>
                        <div>
                            <p class="px-3 py-3 text-white h3" th:text="${books.size()}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card card-statistic">
                <div class="card-body p-0">
                    <div class="d-flex flex-column">
                        <div class='px-3 py-3 d-flex justify-content-between'>
                            <h3 class='card-title'>Categories</h3>
                            <div class="card-right d-flex align-items-center">
                                <img src="/icons/category.png">
                            </div>
                        </div>
                        <div>
                            <p class="px-3 py-3 text-white h3" th:text="${categories.size()}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card card-statistic">
                <div class="card-body p-0">
                    <div class="d-flex flex-column">
                        <div class='px-3 py-3 d-flex justify-content-between'>
                            <h3 class='card-title'>Users</h3>
                            <div class="card-right d-flex align-items-center">
                                <img src="/icons/users.png">
                            </div>
                        </div>
                        <div>
                            <p class="px-3 py-3 text-white h3" th:text="${users.size()}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h4 class="card-title">Users</h4>
                </div>
                <div class="card-body px-0 pb-0">
                    <div class="table-responsive">
                        <table class='table mb-0' id="table1">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Username</th>
                                <th>Role</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user : ${users}">
                                <td th:text="${user.getName()}"></td>
                                <td th:text="${user.getEmail()}"></td>
                                <td th:text="${user.getUsername()}"></td>
                                <td th:text="${user.getRole()}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
</body>
</html>